*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.page {
  display: flex;
}

.content {
  display: flex;
  padding: 133px 30px;
  justify-content: center;
  align-self: center;
  gap: 30px;
  align-items: flex-end;
  max-width: 1200px;
  width: 100%;
}

.content__list {
  max-height: 298px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.content__details {
  max-width: 399px;
  width: 100%;
  flex-grow: 1;
}

.title {
  padding-bottom: 26px;
  color: #fff;
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.search-form {
  padding-bottom: 2px;
  padding-top: 16px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.result {
  flex-grow: 2;
}

.result__video-container {
  min-height: 386px;
  position: relative;
}

.result__video {
  width: 100%;
  object-fit: contain;
}

.content__list-item {
  padding-bottom: 30px;
}

.content__list-item:last-child {
  padding-bottom: 0px;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__video-card-thumbnail {
  max-width: 194px;
  width: 100%;
  height: auto;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__list {
  position: relative;
}

.content__accent {
  color: #545050;
}

.search-form__fieldset-title {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #fff;
  margin: 2px;
}

.content__video-card-title {
  padding-bottom: 6px;
  font-family: Oswald,sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
}

.content__video-card-description {
  color: #fff;
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px; 
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  padding-bottom: 5px;
}

.search-form__label {
  display: inline;
  width: fit-content;
  cursor: pointer;
  display: inline-flex;
  gap: 5px;
}

.search-form__textfield {
  min-width: 225px;
  min-height: 27px;
  background-color: transparent;
  border: none;
  border: 1px solid transparent;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  appearance: none;
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.search-form__submit-button {
  align-self: flex-end;
  border: 1px solid #fff;
  padding: 6px 72px;
  background-color: transparent;
  color: #fff;
  text-align: center;
  font-family: Fira Sans Condensed,sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

::-webkit-scrollbar {
  width: 0;
}

.more-button {
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  text-align: center;
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 99%;
  padding: 6px 0;
}

.search-form__checkbox-list {
  display: flex;
  gap: 14px;
  padding-right: 5px;
}

label .search-form__pseudo-checkbox {
  display: inline-block;
  min-width: 20px;
  min-height: 20px;
  border: 1px solid #fff;
}

.search-form__pseudo-checkbox {
  position: relative;
}

input[type="checkbox"]:checked + .search-form__pseudo-checkbox {
  outline-offset: -2px;
  outline: 1px solid black;
  background-color: #fff;
}

button {
  position: relative;
  cursor: pointer;
}

button:hover {
  text-decoration: underline;
}

.search-form__textfield:active {
  border: 1px solid #fff;
}

.content__video-card-description-container:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.content__video-card:active {
  background-color: #545050;
}

.search-form__label:has(.search-form__pseudo-checkbox):hover {
  text-decoration: underline;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline-offset: 1px;
  outline: 1px solid #fff;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline-offset: 1px;
  outline: 1px solid #fff;
}

.content__card-link:focus {
  outline-offset: 1px;
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__card-link_current {
  background-color: #545050;
}

li .more-button {
  margin: 2px;
}
